<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test_CSATM_Sanity_Script" parallel="false" preserve-order="true" thread-count = "1" >
  <test name="Regression Test_GB" >
    <!-- testing-->
    <classes>
      <class name="tnm_review_GB_main.CreateRequest_IND"/>
    </classes>
 </test>
  <test name="Regression Test_IN" >
    <!-- testing-->
    <classes>
      <class name="tnm_review_IND_main.CreateRequest_GB"/> 
    </classes>
 </test>
  <test name="Regression Test_US" >
    <!-- testing-->
    <classes>
      <class name="tnm_review_US_main.CreateRequest_US"/>
    </classes>
 </test>
</suite> <!-- ShakeDownSuite -->
